.other {
    background-color: bisque;
    font-family: "Arial Narrow";
    color: aqua;
}
.square {
    width: 300px;
    height: 300px;
    background-color:cyan;
    margin: auto;

}
.circle{
    width: 300px;
    height: 300px;
    background-color:fuchsia;
    margin: auto;

}

