div.flag {
    hight:850px;
    width: 1000px;
    background-color: darkgreen;
    margin:auto;
    padding-bottom: 30px;

}
/*div.circle {*/
    /*hight:350px;*/
    /*width: 350px;*/
    /*background-color:red;*/
    /*margin: auto;*/
    /*border-radius:175px;*/

/*}*/