*{
    padding:0;
    margin: 0;
}
.body
{
    height:500px;
    weight:500px;
    background-color: aliceblue;
}
.header
{
    height:50px;
    weight:50px;
    background-color: blue;
}
.footer
{
    height:50px;
    weight:50px;
    background-color: blue;
    text-align: center;
}
nav ul{

}
nav ul li {
    list-style-type: none;
    width:150px;
    float:left;
    text-align: center;
}
nav ul li a {
   text-decoration: none;
    color:white;
    display: block;
}
li a:hover{
    background-color: darkorange;
    color:cyan;
}