table {
border-collapse:collapse;
}

 table th {text-align: left;
    color: blue;
     background-color: aquamarine;
     padding:8px 20px 15px 1px;
}

table td {
    border:1px;
    background-color: aqua;
    collapse:collapse;
    padding: 4px 8px;
}