
.warp
{
    width: 600px;
    background-color: blueviolet;
}
.nav{
    height: 50px;
    background-color: chartreuse;
    text-align: center;
}
.header
{height: 75px;
    background-color: crimson;
    text-align: center;
}
.body{
   min-height: 300px;
    max-height: 300px;
    width: 400px;
    background-color: antiquewhite;
    float: left;
    text-align: center;
}
.slide
{
   min-height: 300px;
    width: 200px;
    background-color: aquamarine;
    float:right;
    text-align: center;
}
.footre{
    clear:both;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
}